.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;    /*-webkit- para que tenga soporte en varios navegadores*/
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-fill-mode: both;   
    -webkit-animation-fill-mode: both;
}

/*         nombre de la animacion*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*-------------------------------------------------------------------------------------------------------*/

.fadeInDown {
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown; 
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;   
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d( 0, -100%, 0);
        -webkit-transform: translate3d( 0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d( 0, 0, 0);
        -webkit-transform: translate3d( 0, 0, 0);
    }
}

/*-------------------------------------------------------------------------------------------------------*/

.fadeInUp {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp; 
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;   
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d( 0, 100%, 0);
        -webkit-transform: translate3d( 0, 100%, 0);
       
    }
    to {
        opacity: 1;
        transform: translate3d( 0, 0, 0);
        -webkit-transform: translate3d( 0, 0, 0);
    }
}