html {
    font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px | 1 rem = 10px  */
    box-sizing: border-box; /*Aplicar correctamente box-sizing*/
}
*, *:before, *:after { /*Aplicar correctamente box-sizing*/
    box-sizing: inherit; /*Aplicar correctamente box-sizing*/
}

/*Importamos la tipografia desde 'google fonts'*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif; /*Establecimos el tipo de fuente para todo el documento*/
    font-size: 1.2rem; /*Para establecer un tamaño estandar a todo el font-size del documento;*/
    /* line-height: 2; Interlineado */
}


/*----------------------------------------------Globales------------------------------------------------------*/
img {
    max-width: 100%; /* Para ajustar las imagenes al contenedor padre*/
}

/*---------------utilidades-----------------*/


/*---------------Variables-----------------*/
:root {
    --green-color:#7acc2d;
    --white-color:#ffffff;
    --black-color:#313337;
    
    /*Tipografia*/
    --normal:1.2rem;

    /*Espaciado*/
    --space:1rem;

    /*Box shadow*/
    --box:0 0 .2rem #c1bcbc;
}

/*---------Medidas estandar para titulos-----------*/
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3.2rem;
    
}
h4 {
    font-size: 2.8rem;
}

/*---------------Header global-----------------*/
nav {
    display: flex; /*Aplicamos flexbox*/
    justify-content: space-between; /*acomodar horizontalmente los elementos*/
    align-items: center; /*acomodar verticalmente los elementos*/
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
}
nav ul {
    display: flex; /*aplicamos flexbox*/
    list-style: none; /*para quitar el estilo por defecto de las listas*/
}
nav ul li {
    padding-left: 2rem; /*le agregamos un paddin a cada elemento de la lista*/
}
nav ul li a {
    text-decoration: none; /*Para quitar los estilos por default de los enlaces*/
    color: var(--black-color);
}
nav ul li a:hover {
    color: var(--white-color);
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!- index.html - !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*---------------------------------------------------Main----------------------------------------------------*/

/*----------------contenedor titulo----------------*/
.main_section {
    padding: 10% 15% 15%;
    text-align: center;
}

/*---------------Contenedor productos-----------------*/
.products {
    background-image: url(../images/curve.png); 
    background-size: cover; /*Para que la imagen cubra todo el espacio*/
    background-position: center top; /*Acomodamos la imagen*/
    height: 5rem;
    padding: 15%;
    display: flex; 
    justify-content: center; /*Para centrar los contenedores de productos*/
}
.product {
    margin-top: -35rem; /*Para que nuestras tarjetas de los productos se muestren por encima de la imagen de fondo*/
    padding: var(--space);
}
.product .content {
    background-color: var(--white-color);
    padding: var(--space);
    /* x y spread color*/
    box-shadow: var(--box); /*para agregar como una sombra alrededor*/
}
.img_content { /*para centrar la imagen que se encuantra en este div*/
    text-align: center; 
}
.main_button { 
    background-color: var(--green-color);
    width: 100%; /*para que cubra todo el espacio del contenedor padre*/
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: none; /*Quitamos el estilo de borde que trae por defecto el button*/
    border-radius: .2rem;
}
.main_button:hover { /*Cuando le hacemos :hover se mostraran estos estilos*/
    background-color: #5e9e22; /*Se muestra un color verde mas escuro*/
    cursor: pointer; /*para que se muestre la manita*/
}

/*---------------------------------------------------Beneficios------------------------------------------------*/
.beneficios{
    padding: 10%;
    display: flex;
  }
  
  .beneficio{
    text-align: center;
    padding: 20px;
  }
  
  .beneficio img{
    max-height: 100px
  }
  
  .text_beneficio{
    text-align: justify;
  }
  
 /*---------------------------------------------------Mentions--------------------------------------------------*/
  .mentions{
    display: flex;
    padding: 5%;
  }
  .mention img{
    width: 100%;
  }
  h2.mention_title{
    text-align: center;
  }
  .mention{
    padding: var(--space);
  }
  .content_mention{
    box-shadow: 0px 0 2px 1px #e6e5e9;
  }
  .mention .text{
    padding: var(--space);
  }
  
  /*---------------------------------------------------Footer---------------------------------------------------*/
  footer{
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color: var(--black-color);
    padding: var(--space);
    color: var(--white-color);
  }


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!- Producto.html - !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*---------------------------------------------------Main----------------------------------------------------*/
.beneficios{
    padding: 10%;
    display: flex;
  }
  
  .beneficio{
    text-align: center;
    padding: 20px;
  }
  
  .beneficio img{
    max-height: 100px
  }
  
  .text_beneficio{
    text-align: justify;
  }
  
  

