@media (max-width: 650px) {
    .main_section{
        padding: 5%;
    }
    .products {
        display: block; 
        height: auto; /*para que la altura se acople a lo que mide el elemento*/
        padding: 5%;
    }
    .product {
        margin-top: auto; /*para que el navegador ponga el margin*/
    }

    /*---------------Beneficios, Mentions-----------------*/
    .beneficios, .mentions {
        display: block;
    }
}



